!!!
%html
  %head
    %title Checklist
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row
      = link_to 'Все списки', lists_path
    .row
      .twelve.columns
        = yield